<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',     filename='template.css') }}"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-sidebar@0.2.4/src/L.Control.Sidebar.css"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@kalisio/leaflet.donutcluster@1.1.0/src/Leaflet.DonutCluster.css"
    />

    <meta charset="utf-8" />
    <title>Flask Tutorial</title>
  </head>
  <body>
    <div id="map" class="col-md-9"></div>

    <div id="side-bar" class="col-md-3">
      <h2>My Map</h2>
      <button id="l1">Task 1</button>
      <button id="l2">Task 2</button>
      <button id="l3">Task 3</button>
      <button id="l4">Task 4</button>
      <button id="l5">Task 5</button>
      <button id="l6">Task 6</button>
    </div>
    <div id="sidebar">
      <h1>leaflet-sidebar</h1>
    </div>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/leaflet-sidebar@0.2.4/src/L.Control.Sidebar.js"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="{{ url_for('static', filename='task1.js') }}"></script>
    <script src="{{ url_for('static', filename='task2.js')}}"></script>
    <script src="{{ url_for('static', filename='supermarkets.js') }}"></script>
    <script src="{{ url_for('static', filename='fuel.js') }}"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/@kalisio/leaflet.donutcluster@1.1.0/src/Leaflet.DonutCluster.js"></script>

    <script src="{{ url_for('static', filename='task3.js') }}"></script>
    <script src="{{ url_for('static', filename='fuel.js') }}"></script>
    <script src="{{ url_for('static', filename='task4.js') }}"></script>
    <script src="{{ url_for('static', filename='task5.js') }}"></script>
    <script src="{{ url_for('static', filename='task6.js') }}"></script>
  </body>
</html>
